asgiref==3.8.1
astroid==3.3.9
awscli==1.38.16
bandit
blessed==1.20.0
botocore==1.37.16
cement==2.10.14
certifi
charset-normalizer==3.4.1
colorama==0.4.6
dill==0.3.9
Django==4.2
django-axes==7.0.2
djangorestframework==3.15.2
docutils==0.16
exceptiongroup==1.2.2
gunicorn==23.0.0
idna==3.10
iniconfig==2.1.0
isort==6.0.1
jmespath==1.0.1
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
packaging==24.2
pathspec==0.10.1
pbr==6.1.1
pip
platformdirs==4.3.7
pluggy==1.5.0
pyasn1==0.6.1
Pygments==2.19.1
pylint
pytest
pylint-django
pytest-django
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
rich==13.9.4
rsa==4.7.2
s3transfer==0.11.4
semantic-version==2.10.0
setuptools==59.6.0
six==1.17.0
sqlparse==0.5.3
stevedore==5.4.1
tomli==2.2.1
tomlkit==0.13.2
typing_extensions==4.12.2
urllib3==1.26.20
wcwidth==0.2.13