option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: job_portal.wsgi:application
container_commands:
  01_collectstatic:
    command: "python manage.py collectstatic --noinput"
  02_permissions:
    command: "chmod -R 755 /var/app/current/staticfiles"

files:
  "/etc/nginx/conf.d/staticfiles.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      location /static/ {
          alias /var/app/current/staticfiles/;
      }
      location /media/ {
          alias /var/app/current/media/;
      }
