{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Today's Jobs</h2>

    <div class="row">
        {% for job in jobs %}
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ job.title }}</h5>
                    <p class="card-text">{{ job.description }}</p>
                    <p class="card-text">{{ job.location }}</p>
                    <p class="card-text">${{ job.salary }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        {% if request.user.is_employer and request.user == job.employer %}
                        <div>
                            <a href="{% url 'job_update' job.pk %}" class="btn btn-warning btn-sm">Edit</a>
                            <a href="{% url 'job_delete' job.pk %}" class="btn btn-danger btn-sm">Delete</a>
                        </div>
                        {% endif %}
                        <a href="{% url 'job_detail' job.id %}" class="btn btn-primary btn-sm">View Details</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p>No jobs available.</p>
        </div>
        {% endfor %}
    </div>

    <!--<a href="{% url 'job_create' %}" class="btn btn-primary mt-3">Post a Job</a>-->
</div>
{% endblock %}